body{
    background-color: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

a{
    text-decoration: none;
}

.container{
    max-width: 1248px;
    margin: 50px auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 322px;
    height: 30px;
    margin-top: 15px;
    margin-right: 418px;
}

.logo{
    width: 49px;
    height: 35px;
}

.header_nav_link{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}

.bold{
    font-weight: 800;
    color: #212353;
}

.request_demo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: transparent;
    padding: 0 29px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #212353;
}

.right_arrow{
    width: 20px;
    height: 14px;
}

.intro{
    background: url(../images/Intro-image.svg) no-repeat;
    background-position: right bottom;
    height: 564px;
    margin-top: 130px;
}

.girls_inner {
    width: 645px;
    height: 464px;
}

.title-1{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #212353;
}

.paragraph-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin: 50px 0;
}

.center_text {
    text-align: center;
}

.learn_more_button {
    width: 170px;
    height: 60px;
    border: transparent;
    border-radius: 50px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: white;
}

.purple_button{
    background: #9C69E2;
}

.pink_button{
    background: #F063B8;
}

.storage_bank{
    background: url(../images/Girl-in-data.svg) no-repeat;
    width: 1117px;
    height: 560px;
    margin-top: 100px;
}

.title-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin: auto;
    margin-bottom: 20px;
    color: #212353;
}

.pink_inner{
    padding-top: 125px;
    margin-left: 550px;
}

.title{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.title-3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}

.paragraph{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68; 
    margin: 0;
}

.learn_more{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.005em;
    color: #212353;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 33px;
}

.learn_more img{
    margin-left: 20px;
}

.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 70px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 280px;
}

.section-1{
    background: url(../images/Search-in-folders.svg) no-repeat;
    width: 270px;
    height: 388px;
}

.fix-1{
    padding-top: 30px;
}

.section-2{
    background: url(../images/Girl-meditation.svg) no-repeat;
    width: 270px;
    height: 400px;
    margin-top: 30px;
}

.fix-2{
    padding-bottom: 30px;
}

.section-3{
    background: url(../images/Printer.svg) no-repeat;
    width: 270px;
    height: 360px;
    margin-top: 6px;
}

.section-4{
    background: url(../images/Girl-and-key.svg) no-repeat;
    width: 260px;
    height: 364px;
}

.features{
    margin-top: 140px;
}

.footer{
    margin-top: 140px;
    padding: 100px 140px 40px 140px;
    border-top: 2px solid rgba(156,105,226,0.2);
    height: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    height: 60px;
}

.footer_company{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #212353;
}

.comments_button{
    width: 60px;
    height: 60px;
    border: transparent;
    border-radius: 50px;
    background-color: rgba(156,105,226,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.down{
    width: 1260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}